aniso8601 --upgrade  
Click --upgrade  
Flask --upgrade  
Flask-Cors --upgrade  
Flask-RESTful --upgrade  
Flask-SQLAlchemy --upgrade  
itsdangerous --upgrade  
Jinja2 --upgrade  
MarkupSafe --upgrade  
psycopg2-binary --upgrade  
pytz --upgrade  
six --upgrade  
SQLAlchemy --upgrade  
Werkzeug --upgrade  
